// CSS Reset Code
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

html {
  &.dark-theme{
    --background-color: var(--color-navy-950);
    --sub-background-color: var(--color-navy-900);
    --border-color: var(--color-purple-800);
    --font-color: var(--color-purple-300);
    --sub-font-color: var(--color-purple-600);
    --shadow-color: hsla(0, 0%, 0%, 0.45);
    --sub-shadow-color: hsla(0, 0%, 0%, 0.45);
    --done-tasks-font-color: hsl(231, 12%, 32%);
    --hover-color: var(--color-purple-100);
  }
  font-size: 62.5%;
  position: relative;
  background-color: var(--background-color);
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}