.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  color: white;
  height: 3rem;
  margin-bottom: 4rem;
  &__logo {
    font-size: 3.5rem;
    letter-spacing: 1.3rem;
    font-weight: 600;
  }
  &__themeBtn {
    margin-top: 0.4rem;
    cursor: pointer;
    width: 2.3rem;
    height: 2.25rem;
    position: absolute;
    right: -0.25rem;
  }
}

.addTaskBar {
  background-color: var(--sub-background-color);
  border-radius: var(--border-radius);
  height: 5.75rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0px 3rem 5rem -1rem var(--sub-shadow-color);

  &__input {
    width: 100%;
    height: 2.6rem;
    border: none;
    outline: none;
    padding-top: 0.5rem;
    font-family: var(--font-family);
    font-size: 1.55rem;
    background-color: transparent;
    color: var(--font-color);
    &::placeholder {
      color: var(--color-gray-600);
    }
  }
}

.tasksContainer {
  width: 100%;
  background-color: var(--sub-background-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 2.75rem 4rem -1rem var(--shadow-color);
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem 2rem;
    font-size: 1.25rem;
    color: var(--sub-font-color);

    .itemsLeft {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      margin-right: 3.75rem;
    }

    .options {
      display: flex;
      align-items: center;
      gap: 1.9rem;

      .option {
        cursor: pointer;
        font-weight: 700;
        transition: color 0.2s;

        &:hover {
          color: var(--hover-color);
        }

        &.active {
          color: var(--color-blue-500);
        }
      }
    }

    &__clearCompleted {
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: var(--hover-color);
      }
    }
  }
}

.TasksList {
  list-style: none;

  &.showActive &__taskContent.completed {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  &.showCompleted &__taskContent:not(&__taskContent.completed) {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  &__taskContent {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--font-color);
    padding: 2rem;
    height: 5.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &.dragged {
      opacity: 0.05;
    }
    &.completed {
      text-decoration: line-through;
      color: var(--done-tasks-font-color);
    }
    &::after {
      content: "";
      position: absolute;
      display: flex;
      justify-content: center;
      height: 0.1rem;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: var(--border-color);
    }
    &__valueContent {
      font-size: 1.5rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      &__value {
        letter-spacing: 0.005px;
        font-weight: lighter;
      }
      &__deleteIcon {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
      }
    }
    &:hover {
      .TasksList__taskContent__valueContent__deleteIcon {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.dragAndDropLabel {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  margin: 4.75rem 0;
  color: var(--sub-font-color);
}
