@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
// CSS Variables
:root {
  --color-gray-300: hsl(233, 11%, 94%);
  --color-gray-600: hsl(236, 9%, 61%);
  --color-purple-800: hsl(237, 14%, 26%);
  --color-purple-700: hsl(233, 14%, 35%);
  --color-purple-600: hsl(235, 16%, 43%);
  --color-purple-300: hsl(234, 39%, 85%);
  --color-purple-100: hsl(236, 33%, 92%);
  --color-navy-950: hsl(235, 21%, 11%);
  --color-navy-900: hsl(235, 24%, 19%);
  --color-navy-850: hsl(235, 19%, 35%);
  --color-blue-500: hsl(220, 98%, 61%);
  --color-white: hsl(0, 0%, 100%);

  --background-color: hsl(0, 0%, 98%);
  --sub-background-color: var(--color-white);
  
  --font-family: "Josefin Sans", sans-serif;
  --font-color: var(--color-navy-850);
  --sub-font-color: var(--color-gray-600);
  --done-tasks-font-color: hsl(0, 0%, 85%);

  --shadow-color: hsla(0, 0%, 0%, 0.1);
  --sub-shadow-color: hsla(0, 0%, 0%, 0.08);

  --hover-color: var(--color-navy-850);
  
  --border-radius: 0.6rem;
  --border-color: var(--color-gray-300);
}